<footer class="footer">
    <div class="footer-main">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-left">
                    <div class="footer-aboutus">
                        <h5 class="footer-title">Title</h5>
                        <div class="footer-text">
                            <p>Levents® – Share your color with the world<br><br></p>
                            <p>HỘ KINH DOANH Red Label</p>
                            <p>GPKD được cấp bởi Cục Cảnh sát QLHC &amp; TTXH</p>
                            <p>Trụ sở hộ kinh doanh: XXX XXXXXXX,XXXXXXXX,XXXXXX,XXXXXXX</p>
                            <p>Mä só thuê: XXXXXXXXX</p>
                            <p>Ngày cấp: XX/XX/XXXX</p>
                            <p>Người đại diện: XXXXXXXXXXXXX</p>
                            <p>Mã Số thuế cá nhân: XXXXXXXXXXXX</p>
                        </div>
                    </div>
                </div>
                <div class="footer-right">
                    <div class="footer-widget">
                        <h5 class="footer-title">Title</h5>
                        <ul class="footer-menu">
                            <li >Item footer</li>
                            <li >Item footer</li>
                            <li >Item footer</li>
                            <li >Item footer</li>
                        </ul>
                    </div>
                    <div class="footer-widget">
                        <h5 class="footer-title">Title</h5>
                        <ul class="footer-menu">
                            <li class="footer-menu-item"><a href="">Item footer</a></li>
                            <li class="footer-menu-item"><a href="">Item footer</a></li>
                            <li class="footer-menu-item"><a href="">Item footer</a></li>
                            <li class="footer-menu-item"><a href="">Item footer</a></li>
                            <li class="footer-menu-item"><a href="">Item footer</a></li>
                        </ul>
                    </div>
                    <div class="footer-widget">
                        <h5 class="footer-title">Title</h5>
                        <ul class="footer-menu">
                            <li class="footer-menu-item"><a href="">Item footer</a></li>
                            <li class="footer-menu-item"><a href="">Item footer</a></li>
                            <li class="footer-menu-item"><a href="">Item footer</a></li>
                            <li class="footer-menu-item"><a href="">Item footer</a></li>
                            <li class="footer-menu-item"><a href="">Item footer</a></li>
                        </ul>
                    </div>
                    <div class="footer-widget">
                        <h5 class="footer-title">Title</h5>
                        <ul class="footer-menu">
                            <li class="footer-menu-item"><a href="">Item footer</a></li>
                            <li class="footer-menu-item"><a href="">Item footer</a></li>
                            <li class="footer-menu-item"><a href="">Item footer</a></li>
                            <li class="footer-menu-item"><a href="">Item footer</a></li>
                            <li class="footer-menu-item"><a href="">Item footer</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-sub">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-brand" style="color: #000;">Brand name</div>
                <div class="footer-link"><a href="">Link 1</a></div>
                <div class="footer-link"><a href="">Link 2</a></div>
            </div>
        </div>
    </div>
</footer>