<header class="header">
        <div class="swiper header__msg-block" id="msg">
            <div class="swiper-wrapper">
                <div class="header__msg swiper-slide">
                    <a href="">MESSAGE HERE 1!!!</a>
                </div>
                <div class="header__msg swiper-slide">
                    <a href="">MESSAGE HERE 2!!!</a>
                </div>
                <div class="header__msg swiper-slide">
                    <a href="">MESSAGE HERE 3!!!</a>
                </div>
            </div>
        </div>
        <div class="header__main">
            <div class="container header-container">
                <div class="header__main-left">
                    <button class="header-navigation-btn" onclick="ShowMNav()"><i class="fa-solid fa-bars"></i></button>
                    <div class="header-navigation-mobile-sidebar" id="mNav">
                        <nav class="header-navigation-mobile-wrapper">
                            <ul class="header-navigation-mobile-list">
                                <li class="header-navigation-mobile-item"><a href="">Item</a></li>
                                <li class="header-navigation-mobile-item" id="mCollapseBtn">
                                    <button>Item<i class="fa-solid fa-chevron-down"></i></button>
                                    <ul class="header-navigation-mobile-collapse" id="mCollapse">
                                        <li class="header-navigation-mobile-collapse-item"><a href="">sub item</a></li>
                                        <li class="header-navigation-mobile-collapse-item"><a href="">sub item</a></li>
                                        <li class="header-navigation-mobile-collapse-item"><a href="">sub item</a></li>
                                        <li class="header-navigation-mobile-collapse-item"><a href="">sub item</a></li>
                                        <li class="header-navigation-mobile-collapse-item"><a href="">sub item</a></li>
                                    </ul>
                                </li>
                                <li class="header-navigation-mobile-item"><a href="">Item</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="header__main-center">
                    <div class="header__logo">
                        <a href="">
                            <img src="/images/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="header__main-right">
                    <ul class="header__menu">
                        <li class="header__menu-btn search">
                            <button class="search-btn" onclick="ShowSearch()"><i class="fa-solid fa-magnifying-glass"></i></button>
                            <div class="search-wrapper" id="searchForm">
                                <div class="search-content">
                                    <form action="" method="get" class="search-form">
                                        <ul class="search-recommend">
                                            <li class="search-recommend-item"><a href="">Recommend</a></li>
                                            <li class="search-recommend-item"><a href="">Recommend</a></li>
                                            <li class="search-recommend-item"><a href="">Recommend</a></li>
                                        </ul>
                                        <input type="text" name="" id="" class="search-input">
                                        <button type="submit" class="search-submit">Search</button>
                                    </form>
                                </div>
                            </div>
                        </li>
                        <li class="header__menu-btn notification">
                            <button class="notification-btn" onclick="ShowToggle()"><i class="fa-solid fa-bell"></i></button>
                            <ul class="notification-dropdown" id="toggle">
                                <li class="notification-dropdown-item"><a href="">Notification 1</a></li>
                                <li class="notification-dropdown-item"><a href="">Notification 1</a></li>
                                <li class="notification-dropdown-item"><a href="">Notification 1</a></li>   
                            </ul>
                        </li>
                        <li class="header__menu-btn cart">
                            <button class="cart-btn" onclick="ShowCart()"><i class="fa-solid fa-cart-shopping"></i></button>
                            <div class="cart-sidebar" id="cart">
                                <div class="cart-wrapper" >
                                    <div class="cart-content">
                                        <div class="cart-header">
                                            <button class="cart-close"><i class="fa fa-times" aria-hidden="true"></i>
                                            </button>
                                            <div class="cart-title">Your Cart</div>
                                        </div>
                                        <div class="cart-body">
                                            <ul class="cart-list">
                                                <li class="cart-list-item"><a href="">Item</a></li>
                                            </ul>
                                        </div>
                                        <div class="cart-footer">
                                            <div class="cart-total"></div>
                                            <button type="submit" class="cart-checkout">Checkout</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="header__menu-btn favorite">
                            <button class="favorite-btn" onclick="ShowFavorite()"><i class="fa-solid fa-heart"></i></button>
                            <div class="favorite-modal" id="modal">
                                <div class="favorite-modal-dialog">
                                    <div class="favorite-modal-content">
                                        <div class="favorite-modal-header">
                                            <button class="favorite-modal-close"><i class="fa fa-times" aria-hidden="true"></i></button>
                                            <div class="favorite-modal-title">Modal Title</div>
                                        </div>
                                        <div class="favorite-modal-body">
                                            Modal body
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="header__menu-btn user"><i class="fa-solid fa-user"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-navigation" id="nav">
            <div class="container header-navigation-container">
                <nav class="header-navigation-content">
                    <ul class="header-navigation-list">
                        <li class="header-navigation-item"><a href="">Item</a></li>
                        <li class="header-navigation-dropdown nav-dropdown-btn">
                            <a href="">Item <i class="fa-solid fa-chevron-down" style="font-size: 10px;"></i></a>
                            <ul class="nav-dropdown-menu">
                                <li class="nav-dropdown-menu-item"><a href="">item</a></li>
                                <li class="nav-dropdown-menu-item"><a href="">item</a></li>
                                <li class="nav-dropdown-menu-item"><a href="">item</a></li>
                            </ul>
                        </li>
                        <li class="header-navigation-item"><a href="">Item</a></li>
                        <li class="header-navigation-item"><a href="">Item</a></li>
                        <li class="header-navigation-item"><a href="">Item</a></li>
                        <li class="header-navigation-item"><a href="">Item</a></li>
                    </ul>
                </nav>
            </div>
        </div>
</header>
