<header class="header">
        <div class="swiper header__msg-block">
            <div class="swiper-wrapper">
                <div class="header__msg swiper-slide">
                    <a href="">MESSAGE HERE 1!!!</a>
                </div>
                <div class="header__msg swiper-slide">
                    <a href="">MESSAGE HERE 2!!!</a>
                </div>
                <div class="header__msg swiper-slide">
                    <a href="">MESSAGE HERE 3!!!</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="header__main">
                <div class="header__main-left">left</div>
                <div class="header__main-center">
                    <div class="header__logo">
                        <a href="">
                            <img src="/images/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="header__main-right">
                    <ul class="header__menu">
                        <li class="header__menu-btn search"><i class="fa-solid fa-magnifying-glass"></i></li>
                        <li class="header__menu-btn cart"><i class="fa-solid fa-cart-shopping"></i></li>
                        <li class="header__menu-btn favorite"><i class="fa-solid fa-heart"></i></li>
                        <li class="header__menu-btn notification"><i class="fa-solid fa-bell"></i></li>
                        <li class="header__menu-btn user"><i class="fa-solid fa-user"></i></li>
                    </ul>
                </div>
            </div>
        </div>
</header>
