<div class="path">
    <div class="container">
        <ul class="path-wrapper">
            <li class="path-item">path</li>
            <li class="path-item">path</li>
            <li class="path-item">path</li>
        </ul>
    </div>
</div>