<a href="">
    <div class="product__img-box">
      <img class="product__img" id="front" src="/images/item-front.jpg" alt="">
      <img class="product__img" id="back" src="/images/item-back.jpg" alt="">
    </div>
    <ul class="product__color">
      <li class="product__color-option"></li>
      <li class="product__color-option"></li>
      <li class="product__color-option"></li>
    </ul>
    <h6 class="product__name">Name</h6>
    <h6 class="product__price">Price</h6>
</a>