<body>
    <section class="new-arrival">
        <div class="new-arrival-banner">
            <img src="/images/new-arrival-banner.jpg" alt="">
        </div>
        <div class="new-arrival-wrapper">
            <div class="container new-arrival-content">
                <h3 class="new-arrival-title">Title</h3>
                <div class="new-arrival-btn"><a href="">Xem</a></div>
            </div>
        </div>
    </section>
    <%- include('partials/path.ejs') %>
    <section class="section">
        <div class="container section-wrapper">
            <div class="blog">
                <div class="blog-content">
                    <div class="blog-introduction">
                        <p class="blog__txt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam at tempore recusandae temporibus necessitatibus, tenetur veritatis laboriosam eveniet cumque! Asperiores reiciendis unde animi? Placeat enim deleniti modi consequatur, nobis eos.</p>
                        <ul class="blog-img-gallery">
                            <li class="blog-img-item">
                                <img src="" alt="">
                            </li>
                        </ul>
                    </div>
                    <ul class="blog-list">
                        <li class="blog-item">
                            <div class="blog-item-img">
                                <img src="" alt="" srcset="">
                            </div>
                            <div class="blog-item-content">
                                <h5 class="blog-item-title">Title</h5>
                                <a href="" class="blog-item-btn">Xem bài viết</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>