<body>
    <%- include('partials/path.ejs') %>
    <section class="section">
        <div class="container section-wrapper">
            <div class="collection">
                <h5 class="collection__title">Title</h5>
                <div class="collection__banner">
                    <img src="/images/collection-banner.png" alt="" srcset="">
                    <div class="home-banner-content-wrapper">
                        <div class="home-banner-btn">
                          <a href="">Check out our new collection!</a>
                        </div>
                      </div>
                </div>
            </div>
            <div class="collection">
                <h5 class="collection__title">Title</h5>
                <div class="collection__banner">
                    <img src="/images/collection-banner.png" alt="" srcset="">
                    <div class="home-banner-content-wrapper">
                        <div class="home-banner-btn">
                          <a href="">Check out our new collection!</a>
                        </div>
                      </div>
                </div>
            </div>
            <div class="collection">
                <h5 class="collection__title">Title</h5>
                <div class="collection__banner">
                    <img src="/images/collection-banner.png" alt="" srcset="">
                    <div class="home-banner-content-wrapper">
                        <div class="home-banner-btn">
                          <a href="">Check out our new collection!</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
</body>