<body>
    <%- include('partials/path.ejs') %>
    <section class="product-detail">
      <div class="container product-detail-wrapper">
        <div class="product-detail-img-slider swiper">
          <div class="swiper-pagination product-detail-img-pagination"></div>
          <div class="swiper-wrapper">
            <div class="product-detail-img-item swiper-slide"><img src="/images/item-detail-1.jpg" alt=""></div>
            <div class="product-detail-img-item swiper-slide"><img src="/images/item-detail-2.jpg" alt=""></div>
            <div class="product-detail-img-item swiper-slide"><img src="/images/item-detail-3.jpg" alt=""></div>
            <div class="product-detail-img-item swiper-slide"><img src="/images/item-detail-4.jpg" alt=""></div>
          </div>
          
        </div>
        <div class="product-detail-information">Detail here</div>
      </div>
    </section>
</body>