<body>
  <main class="home">
    <section class="home-banner">
      <div class="home-banner-wrapper">
        <div class="home-banner-content">
          <div class="home-banner-media">
            <video autoplay loop muted>
              <source src="/images/banner-video.mp4" type="video/mp4">
            </video>
          </div>
          <div class="home-banner-content-wrapper">
            <div class="home-banner-btn">
              <a href="">Check out our new collection!</a>

            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>

