<%- include('partials/path.ejs') %>
<body>
    <section class="section">
        <div class="container section-wrapper">
            <div class="mixmatch">
                <div class="mixmatch-content">
                    <div class="mixmatch-img">
                        <img src="/images/mixmatch.jpg" alt="">
                    </div>
                    <div class="mixmatch-detail">
                        <h5 class="mixmatch-title">Title</h5>
                        <p class="mixmatch-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam minima sed quidem, ab vero sequi quaerat, esse delectus impedit recusandae in illum! Quod labore odit nulla dignissimos accusamus voluptatem a.</p>
                        <ul class="mixmatch-list">
                            <li class="mixmatch-list-item">
                                    <div class="mixmatch-list-item-wrapper">
                                        <div class="mixmatch-list-item-img">
                                            <img src="/images/item-front.jpg" alt="">
                                        </div>
                                        <div class="mixmatch-list-item-detail">
                                            <h6 class="mixmatch-list-item-title">Title</h6>
                                            <div class="mixmatch-list-item-price">Price</div>
                                            <a href="" class="mixmatch-btn">Xem chi tiet</a> 
                                        </div>
                                    </div>
                            </li>   
                        </ul>
                        <div class="mixmatch-detail-bottom">
                            <div class="mixmatch-total">Total</div>
                            <a href="" class="mixmatch-btn">Get this mixmatch now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>