<body>
    <%- include('partials/path.ejs') %>
    <section class="shop">
        <div class="container">
            <div class="shop-top">
                <h2 class="shop-title">Title</h2>
                <ul class="shop-function">
                    <li class="shop-function-item">Hide</li>
                    <li class="shop-function-item">Sort by</li>
                </ul>
            </div>
            <div class="shop-list">
                <div class="shop-left" id="productFilter">
                    <div class="shop-filter">left</div>
                </div>
                <div class="shop-right">
                    <ul class="shop-list">
                        <li class="shop-list-item">
                            <a href="">
                              <div class="product__img-box">
                                <img class="product__img" id="front" src="/images/item-front.jpg" alt="">
                                <img class="product__img" id="back" src="/images/item-back.jpg" alt="">
                              </div>
                              <ul class="product__color">
                                <li class="product__color-option"></li>
                                <li class="product__color-option"></li>
                                <li class="product__color-option"></li>
                              </ul>
                              <h6 class="product__name">Name</h6>
                              <h6 class="product__price">Price</h6>
                            </a>
                        </li>
                        <li class="shop-list-item">
                            <a href="">
                              <div class="product__img-box">
                                <img class="product__img" id="front" src="/images/item-front.jpg" alt="">
                                <img class="product__img" id="back" src="/images/item-back.jpg" alt="">
                              </div>
                              <ul class="product__color">
                                <li class="product__color-option"></li>
                                <li class="product__color-option"></li>
                                <li class="product__color-option"></li>
                              </ul>
                              <h6 class="product__name">Name</h6>
                              <h6 class="product__price">Price</h6>
                            </a>
                        </li>
                        <li class="shop-list-item">
                            <a href="">
                              <div class="product__img-box">
                                <img class="product__img" id="front" src="/images/item-front.jpg" alt="">
                                <img class="product__img" id="back" src="/images/item-back.jpg" alt="">
                              </div>
                              <ul class="product__color">
                                <li class="product__color-option"></li>
                                <li class="product__color-option"></li>
                                <li class="product__color-option"></li>
                              </ul>
                              <h6 class="product__name">Name</h6>
                              <h6 class="product__price">Price</h6>
                            </a>
                        </li>
                        <li class="shop-list-item">
                            <a href="">
                              <div class="product__img-box">
                                <img class="product__img" id="front" src="/images/item-front.jpg" alt="">
                                <img class="product__img" id="back" src="/images/item-back.jpg" alt="">
                              </div>
                              <ul class="product__color">
                                <li class="product__color-option"></li>
                                <li class="product__color-option"></li>
                                <li class="product__color-option"></li>
                              </ul>
                              <h6 class="product__name">Name</h6>
                              <h6 class="product__price">Price</h6>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>