body {
  margin: 0 auto;
  padding-top: 150px;
}

a {
  text-decoration: none;
}
a:visited {
  color: #000;
}

ul {
  list-style: none;
  padding: unset;
  margin: unset;
}

i {
  pointer-events: none;
}

button {
  background-color: unset;
  border: unset;
}

header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

section {
  padding-bottom: 100px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.show {
  opacity: 1 !important;
  visibility: visible !important;
}

.header__msg-block {
  background-color: #000;
  height: 30px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
}
.header__msg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__msg > a {
  display: block;
  color: #fff;
}
.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 17px 0;
}
.header__main {
  background-color: #fff;
}
.header__main:hover ~ .header-navigation {
  margin-top: 0 !important;
}
.header__main-left {
  width: 33%;
  visibility: hidden;
}
.header__main-center {
  width: 33%;
  text-align: center;
}
.header__main-right {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}
.header__menu {
  display: flex;
  flex-wrap: wrap;
}
.header__menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}
.header__menu-btn:not(:last-child) {
  margin-right: 25px;
}
.header__menu-btn:hover {
  transition: linear 0.23s;
  background-color: #dfdfdf;
}
.header-navigation {
  border-top: 1px solid #ddd;
  transition: all 0.3s;
  z-index: -1;
  position: relative;
  background-color: #fff;
}
.header-navigation:hover {
  margin-top: 0 !important;
}
.header-navigation-content {
  padding: 10px 0;
}
.header-navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-navigation-item:after {
  display: block;
  content: "";
  border-bottom: 1px solid;
  transform: scaleX(0);
  transition: transform 0.23s ease-in-out;
}
.header-navigation-item:hover::after {
  transform: scaleX(1);
}
.header-navigation-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  font-size: 18px;
  transition: opacity 0.23s;
}
.header-navigation-btn:hover {
  opacity: 0.5;
}
.header-navigation-mobile-item {
  padding: 12px 0;
  padding-left: 20px;
  border-bottom: 1px solid #ddd;
}
.header-navigation-mobile-collapse {
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.23s;
}
.header-navigation-mobile-collapse-item {
  padding: 7px 0;
  padding-left: 12px;
}
.header-navigation-mobile-collapse-show {
  height: fit-content;
  visibility: visible;
  opacity: 1;
}
.header-navigation-mobile-sidebar {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  overflow: hidden;
  z-index: 1;
}
.header-navigation-mobile-wrapper {
  width: 0%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  transition: all 0.3s;
}
.header-navigation-mobile-show {
  visibility: visible !important;
  opacity: 1 !important;
}
.header-navigation-mobile-show .header-navigation-mobile-wrapper {
  width: 45% !important;
}

.footer {
  border-top: 1px solid #ddd;
  font-size: 14px;
  background-color: #111;
  color: #fff;
  z-index: 1;
  position: relative;
}
.footer-main {
  padding: 100px 0;
}
.footer-sub {
  background-color: #dfdfdf;
  height: 50px;
  display: flex;
  align-items: center;
}
.footer-brand {
  width: 60%;
}
.footer-link {
  width: 20%;
  text-align: right;
}
.footer-link a:hover {
  font-weight: bold;
}
.footer-content {
  display: flex;
}
.footer-left {
  width: 50%;
}
.footer-right {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.footer-widget {
  width: 25%;
}
.footer-menu li {
  height: 50px;
}
.footer-menu-item a {
  color: #7e7e7e;
}
.footer-menu-item a:hover {
  color: #fff;
  font-weight: bold;
}
.footer-title {
  padding-bottom: 30px;
  text-transform: uppercase;
}

.notification-dropdown {
  top: 100px;
  margin-left: 100px;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 250px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.notification-dropdown-show {
  opacity: 1 !important;
  visibility: visible !important;
}
.notification-dropdown-item {
  padding: 12px 0 12px 20px;
}
.notification-dropdown-item:not(:last-child) {
  border-bottom: 1px solid;
}
.notification-dropdown-item:hover {
  background-color: #dddddd;
}

.favorite-modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.favorite-modal-dialog {
  background-color: #fff;
  margin: 10% auto;
  padding: 30px;
  width: 66%;
}
.favorite-modal-close {
  float: right;
  background-color: unset;
  border: none;
  pointer-events: auto;
}
.favorite-modal-close:hover {
  color: #e60000;
  transition: linear 0.3s;
}
.favorite-show {
  visibility: visible !important;
  opacity: 1 !important;
}

.search-show {
  opacity: 1 !important;
  scale: 1 !important;
  visibility: visible !important;
}
.search-wrapper {
  border-top: 1px solid #ddd;
  position: fixed;
  width: 100%;
  left: 0;
  top: 100px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  opacity: 0;
  scale: 0.8;
  transition: all 1s;
  visibility: hidden;
}
.search-content {
  padding: 50px 150px;
}
.search-recommend {
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}
.search-recommend-item {
  padding: 5px;
  border: 1px solid transparent;
  transition: linear 0.23s;
}
.search-recommend-item a {
  color: #707070;
}
.search-recommend-item:not(:first-child) {
  margin-left: 2%;
}
.search-recommend-item:hover {
  border: 1px solid;
}
.search-recommend-item:hover a {
  color: #000;
}
.search-input {
  width: 85%;
  height: 40px;
}
.search-submit {
  background-color: #dddddd;
  text-align: center;
  height: 40px;
  width: 13%;
  margin-left: 20px;
}

.cart-close {
  float: right;
}
.cart-sidebar {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.cart-wrapper {
  width: 0%;
  height: 100%;
  background-color: #fff;
  right: 0;
  position: fixed;
  transition: all 0.3s;
}
.cart-content {
  padding: 50px 30px;
}
.cart-show {
  visibility: visible !important;
  opacity: 1 !important;
}
.cart-show .cart-wrapper {
  width: 25% !important;
}

.nav-dropdown-btn:hover .nav-dropdown-menu {
  visibility: visible;
  opacity: 1;
  margin-top: 10px;
}
.nav-dropdown-menu {
  background-color: #fff;
  margin-top: 30px;
  margin-left: -15px;
  display: block;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 200px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.nav-dropdown-menu-item {
  padding: 7px 15px;
}

.home-banner-media {
  position: relative;
}
.home-banner-media video {
  width: 100%;
}
.home-banner-content-wrapper {
  position: absolute;
  left: 50%;
}
.home-banner-btn {
  position: relative;
  left: -50%;
  margin-top: -200px;
  padding: 7px;
  transition: all 0.5s;
  background-color: #fff;
  background-image: linear-gradient(#000, #000);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.5s, color 0.5s;
}
.home-banner-btn:hover {
  background-size: 100% 100%;
}
.home-banner-btn:hover a {
  color: #fff;
}

.section {
  margin-top: 50px;
}
.section-title {
  text-align: center;
}
.section-content {
  padding-top: 50px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
}
.feature-list-item {
  width: 25%;
  height: 100%;
}
.feature-list-item a {
  width: 85%;
  display: block;
  margin: 0 auto;
}

.product__img {
  width: 100%;
  transition: linear 0.23s;
}
.product__img-box {
  position: relative;
}
.product__img-box #back {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.product__img-box #front {
  z-index: 1;
  position: relative;
}
.product__img-box:hover #back {
  opacity: 1;
}
.product__img-box:hover #front {
  opacity: 0;
}
.product__color {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-bottom: 10px;
}
.product__color-option {
  width: 10px;
  height: 10px;
  background-color: #000;
}
.product__color-option:not(:last-child) {
  margin-right: 7px;
}

.split-banner {
  display: flex;
  justify-content: space-between;
}
.split-banner-item {
  width: 49.5%;
}
.split-banner-background {
  filter: brightness(0.6);
}
.split-banner-background img {
  width: 100%;
}
.split-banner-content {
  position: relative;
  z-index: 1;
  top: -150px;
  left: 100px;
}
.split-banner-title {
  color: #fff;
}
.split-banner-btn {
  margin-top: 15px;
}
.split-banner-btn a {
  padding: 6px 20px;
  background-color: #111;
  color: #fff;
  border-radius: 30px;
  transition: linear 0.23s;
}
.split-banner-btn a:hover {
  background-color: #fff;
  color: #111;
}

.recommend-list-wrapper {
  height: 400px;
}
.recommend-list-item {
  height: 100%;
}
.recommend-list-item a {
  width: 85%;
  display: block;
  margin: 0 auto;
}
.recommend-list-item:hover #back {
  opacity: 1;
}
.recommend-list-item:hover #front {
  opacity: 0;
}

@media screen and (max-width: 1000px) {
  html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
    padding-top: 100px;
  }
  .container {
    margin: 0 auto;
  }
  .header__main-left {
    visibility: visible;
  }
  .notification, .favorite, .user, #nav {
    display: none;
  }
  .home-banner-btn {
    margin-top: -100px;
  }
  .feature-list-item {
    width: 50%;
  }
  .split-banner-content {
    top: -100px;
    left: 50px;
  }
  .footer-sub {
    display: none;
  }
  .footer-content {
    display: block;
  }
  .footer-left {
    width: 100%;
  }
  .footer-right {
    width: 100%;
    margin-top: 50px;
  }
}
.path-wrapper {
  display: flex;
}
.path-item:not(:last-child)::after {
  content: "/";
  padding: 0 5px;
}

.shop {
  margin-top: 50px;
}
.shop-top {
  display: flex;
  align-items: center;
  padding-left: 100px;
  justify-content: space-between;
}
.shop-top__hide-filter {
  padding-left: 0 !important;
}
.shop-function {
  display: flex;
}
.shop-function-item:not(:last-child) {
  margin-right: 30px;
}
.shop-filter {
  display: block;
}
.shop-filter-trigger {
  cursor: pointer;
}
.shop-filter-category {
  display: none;
}
.shop-filter-category-show {
  display: block;
}
.shop-filter-hide {
  display: none !important;
}
.shop-list {
  display: flex;
}
.shop-left {
  width: 12%;
  position: absolute;
  margin-top: 220px;
  left: 0;
  background-color: #fff;
  padding: 12px 0;
  padding-left: 17px;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
}
.shop-right {
  width: 100%;
  padding-left: 100px;
}
.shop-right__hide-filter {
  padding-left: 0 !important;
}
.shop-right__hide-filter .shop-list-item {
  width: 25% !important;
}
.shop-list {
  display: flex;
  flex-wrap: wrap;
}
.shop-list-item {
  width: 33%;
  padding: 25px;
}
.shop-list-item__hide-filter {
  width: 25%;
}

.product-detail {
  margin-top: 50px;
}
.product-detail-wrapper {
  display: flex;
  justify-content: center;
}
.product-detail-img-slider {
  width: 900px;
  height: 700px;
  margin: unset;
}
.product-detail-img-slider:hover > .product-detail-img-pagination.swiper-pagination-bullets {
  visibility: visible;
  opacity: 1;
}
.product-detail-img-item > img {
  width: 80%;
  margin-left: 100px;
  cursor: pointer;
}
.product-detail-img-pagination.swiper-pagination-bullets {
  display: block;
  top: 200px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.23s;
}
.product-detail-img-pagination.swiper-pagination-bullets span {
  height: 100px;
  width: 100px;
  border-radius: unset;
  background-image: url("../images/item-detail-1.jpg");
  background-size: 80px 80px;
  background-position: center;
  opacity: 0.2;
}
.product-detail-img-pagination.swiper-pagination-bullets span.swiper-pagination-bullet-active {
  opacity: 1;
}
.product-detail-information {
  width: 500px;
}
.product-detail__color {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.product-detail__color-option {
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.product-detail__color-option img {
  width: 100%;
}
.product-detail__color-option.active {
  border: #ddd 1px solid;
}
.product-detail__size {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.product-detail__size-item:not(:first-child) {
  margin-left: 20px;
}
.product-detail__size-ratio {
  display: none;
}
.product-detail__size-label {
  padding: 5px 12px;
  border: 1px #ddd solid;
  cursor: pointer;
}
.product-detail__qty {
  display: flex;
  padding-bottom: 20px;
}
.product-detail__qty-input {
  width: 50px;
  text-align: center;
  border: none;
}
.product-detail__qty-input::-webkit-inner-spin-button, .product-detail__qty-input::-webkit-outer-spin-button {
  display: none;
}
.product-detail__qty-input:focus, .product-detail__qty-input:focus-visible {
  border: none;
}
.product-detail__qty-minus, .product-detail__qty-plus {
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}
.product-detail__group {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.product-detail__btn {
  border: #ddd 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}
.product-detail__btn:hover {
  border: #000 1px solid;
}
.product-detail__btn.buy {
  width: 300px;
  color: #fff;
  background-color: #707070;
  background-image: linear-gradient(#000, #000);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% 0;
  transition: background-size 0.5s;
}
.product-detail__btn.buy:hover {
  background-size: 100% 100%;
}
.product-detail__btn:not(:first-child) {
  margin-left: 10px;
}
.product-detail__collapsible {
  padding: 20px 0;
  border-bottom: #ddd 1px solid;
  border-top: #ddd 1px solid;
}
.product-detail__text {
  display: block;
  opacity: 0;
  visibility: hidden;
  height: 0;
  margin-top: -10px;
  transition: all 0.23s;
}
.product-detail__text-show {
  opacity: 1;
  visibility: visible;
  height: fit-content;
  margin-top: 0;
}

.collection {
  text-align: center;
  padding-top: 50px;
}
.collection__title {
  padding-bottom: 50px;
}
.collection__banner > img, .collection-detail__banner > img {
  width: 100%;
}
.collection-detail__part {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.collection-detail__text, .collection-detail__img {
  width: 50%;
}
.collection-detail__text {
  padding: 50px;
}
.collection-detail__text.introduction {
  text-align: center;
}
.collection-detail__img > img {
  width: 95%;
}
.collection-detail-btn {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.collection-detail-btn > a {
  border: #ddd 1px solid;
  padding: 7px 70px;
  background-image: linear-gradient(#000, #000);
  background-position: 50%, 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.5s;
}
.collection-detail-btn > a:hover {
  color: #fff;
  background-size: 100% 100%;
}
.collection-list {
  display: flex;
  flex-wrap: wrap;
}
.collection-list-item {
  width: 25%;
}

.mixmatch-content {
  display: flex;
}
.mixmatch-detail {
  padding-top: 100px;
}
.mixmatch-detail-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mixmatch-list {
  overflow-y: scroll;
  height: 500px;
}
.mixmatch-list-item {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.mixmatch-list-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.mixmatch-list-item-img {
  width: 25%;
}
.mixmatch-list-item-img > img {
  width: 95%;
}
.mixmatch-list-item-detail {
  padding-left: 50px;
}
.mixmatch-list-item-price {
  padding-bottom: 30px;
}
.mixmatch-btn {
  color: #fff !important;
  padding: 7px 50px;
  background-color: #707070;
  background-image: linear-gradient(#000, #000);
  background-size: 100% 0%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: background-size 0.5s;
}
.mixmatch-btn:hover {
  background-size: 100% 100%;
}

.new-arrival-banner {
  position: relative;
  width: 100% !important;
}
.new-arrival-banner > img {
  width: 100%;
}
.new-arrival-content {
  text-align: right;
}
.new-arrival-wrapper {
  position: absolute;
  z-index: 2;
  top: 175px;
  height: 100%;
  width: 100%;
}
.new-arrival-content {
  margin-top: 300px;
}

/*# sourceMappingURL=style.css.map */
